:root {

   --header-nav-hover-in:solid rgba(37, 34, 32, 100%) 4px;
   --header-nav-hover-out:solid transparent 4px;
   --header-nav-color:rgb(37, 34, 32);
   --dark-blue:rgb(0,55,103);
   --dark-blue-opacity:rgba(0,55,103,.6);
   --light-black-text:#231d19;
   --orange:rgb(236,112,0);
   --darker-orange:rgb(205,112,0);
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */

header {
   background: #faf7f5;
   width: 100%;
   position: fixed;
   top: 0;
   z-index: 1;
}

.header-content {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   padding: 0 32px;
}

.container-1280 {
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
}

.container-1140 {
   width: 100%;
   max-width: 1140px;
   margin: 0 auto;
}

.container-760 {
   width: 100%;
   max-width: 760px;
   margin: 0 auto;
}

.header-content-left {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content: space-between;
   width: 50%;
   height: 100%;
}

.header-logo {
   height: 53%;
}

.header-nav{
   display: flex;
   justify-content: center;
   height: 100%; 
   flex-grow: 1;
}

.header-nav ul {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   display: flex;
   gap: 1rem;
   flex-grow: .5;
}

.header-nav ul li {
   display: flex;
   align-items: center;
   height: 100%;
   border-bottom: var(--header-nav-hover-out);
}

.header-nav ul li:hover {
   border-bottom: var(--header-nav-hover-in);
}

.header-nav ul li a {
   margin: auto 0;  
}

.header-style{
   font-weight: 600;
   color: var(--header-nav-color);
   font-size: 1.15rem;
   text-decoration: none;
}

.header-content-right {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   justify-content:center;
   height: 100%;
   width: 50%;
}

.header-input-lock {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40%;
   height: 100%;
   gap: 5%;
}

.header-input {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: nowrap;
   align-items: center;
   background-color: #ffffff;
   border-radius: 5px;
   height: 60%;
   width: 65%;
   border: solid rgb(214,208,204) 1px;
}

.header-input-text {
   width: 45%;
   height: 70%;
   border: none;
   padding: 2px;
   text-align: center;
   font-size: 15px;
}

.header-input-text:focus{
   outline: none;
}

.input-agencia {
   border-right: solid rgb(214,208,204) 1px;
}

.header-content-lock-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60%;
   width: 3rem;
   background-color: rgb(214,208,204) ;
   border-radius: 5px;
}

.header-content-lock-icon {
   width: 35%;
   height: 40%;
}

.access::before {
   content: '+ ';
}

.header-open-account{
   width: 50%;
   max-width: 150px;
}

.button-box {
   text-align: center;
   border-radius: 5px;
   border:solid var(--dark-blue) 0.5px ;
   padding: 10px;
   color: var(--dark-blue);
}

.button-box:hover{
   background-color: var(--dark-blue) ; 
   color: #ffffff;
}

.header-access {
   text-align: center;
   width: 20%;
}

.pointer{
   cursor: pointer;
}

/* Banner 1 */

.main-container {
   width: 100%;
}

.main-banner {
   height: 450px;
}

.main-banner-background-photo{
   margin-top: 80px;
   position: relative;
   display: flex;
   width: 100%;
   height: 100%;
   background-image: url("../img/banner-1.webp");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.main-banner-gradient {
   display: flex;
   flex-flow: column nowrap ;
   justify-content: center;
   height: 100%;
   width: 100%;
   background:linear-gradient(to left,rgba(0,0,0,0) 22%,rgba(0,0,0,.6) 66%,rgba(0,0,0,.6) 100%)
}

.main-banner-content {
   width: 100%;
   color: white;
}

.main-banner-content h1 {
   font-size: 40px;
   line-height: 60px;
   padding-bottom: 1rem;
   font-weight: bold;
}

.main-banner-content h2 {
   font-size: 32px;
   line-height: 48px;
}

.main-banner-content-text {
   width: 45%;
   padding: 0 15px;
}

/* Cards 1 */

.main-cards-1 {
   width: 100%;
   height: 435px;
   background-color: var(--dark-blue);
   display: flex;
   flex-flow: column nowrap;
   padding: 32px 0px 64px ;
}

.main-cards-content {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.main-cards-content-title {
   color:white;
   font-size: 32px;
   font-weight: bold;
   margin-bottom: 40px;
}

.main-cards-content-cards {
   display:flex;
   flex-flow:  row nowrap;
   justify-content: space-between;
   align-content: space-between;
   width: 100%;
}

.card-shape{
   display:flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: baseline;
   width: 30%;
   height: 227px;
   color:var(--light-black-text);
   background-color: white;
   border-radius: 10px;
   border-left: solid transparent 5.5px;
   padding: 0 12px ;
   line-height: 21px;
}

.card-shape:hover{
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border-left: solid var(--dark-blue) 5.5px;
   cursor: pointer;
}

.card-icon {
   width: 48px;
   flex-grow: 1;
}

.card-title {
   font-size: 18px;
   font-weight: bold;
   flex-grow: 1;
}

.card-text {
   font-size: 15px;
   flex-grow: 2;
}

/* Cards 2 */

.main-cards-2 {
   width: 100%;
   height: 991px;
   background-color: white;
   display: flex;
   flex-flow: column nowrap;
   padding: 32px 0px 64px ;
}

.main-cards-2-content {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

.main-cards-2-content-cards {
   display:flex;
   flex-flow: row wrap;
   width: 100%;
   height: 100%;
   align-content: space-between;
   justify-content: space-between;
}

.card-shadow {
   box-shadow: 0px 0px 10px rgba(0,0,0,25%);
}

.color-blue {
   color: var(--dark-blue);
}

.subtitle {
   font-weight: 300;
   font-size: 20px;
   color: var(--dark-blue);
}

/* Main Disclaimer 1 */

.main-disclaimer-1 {
   width: 100%;
   height: 500px;
   background-color: rgb(239,233,229);
   display: flex;
   flex-flow: column nowrap;
}

.main-disclaimer-1-content {
   display: flex;
   flex-flow: row nowrap;
   padding: 64px 15px;
}

.main-disclaimer-1-content-photo , .main-disclaimer-1-content-text {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-evenly;
   height: 100%;
   line-height: 24px;
}

.main-disclaimer-1-content-text {
   width: 50%;
   margin: 0 0 0 15px;
   text-align: justify;
}

.main-disclaimer-1-content-photo {
   margin: 0 15px 0 0;
   width: 50%;
}

.main-disclaimer-1-content-text p {
   font-size: 16px;
   letter-spacing: -.6px;
   color: var(--light-black-text);
   word-break: break-word;
}

.main-disclaimer-1-content-text h2 {
   margin-bottom: 16px;
}

.disclaimer-button-style {
   background-color: var(--orange);
   font-weight: bold;
   color: white;
   border: none;
   width: 45%;
   padding: 12px;
   font-size: 18px;
}

.disclaimer-button-style:hover {
   background-color: var(--darker-orange);
}

/* Cards 3 */

.main-cards-3 {
   width: 100%;
   height: 435px;
   background-color: white;
   display: flex;
   flex-flow: column nowrap;
   padding: 32px 0px 64px ;
}

/* Open account */

.main-account {
   width: 100%;
   height: 520px;
   background-color: white;
   display: flex;
   flex-flow: column nowrap;
}

.main-account-container {
   display: flex;
   flex-flow: column nowrap;
   padding: 32px 15px 64px;
}

.main-account-content {
   display: flex;
   flex-flow: row nowrap;
}

.main-account-content-text {
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   width: 45%;
}

.main-account-content-text-item {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   column-gap: 5%;
   padding: 0 10px;
   width: 100%;
}

.main-account-content-text-number {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color:var(--darker-orange);
   font-weight: bold;
   font-size: 18px;
   width: 50px;
   height: 50px;
   min-width: 50px;
   border: solid var(--orange) 3px;
   border-radius: 100%;
}

.main-account-content-text-list {
   color:var(--light-black-text);
   padding-right: 95px;
}

.main-account-content-photo {
   display: flex;
   justify-content: flex-end;
   width: 55% ;
}

.main-account-content-photo img {
   width: 90% ;
}

/* Solution */

.main-solution {
   width: 100%;
   height: 756px;
   background-color: rgb(239,233,229);
   display: flex;
   flex-flow: column nowrap;
   padding: 32px 0px 64px;
}

.main-solution-content{
   width: 100%;
   height: 100%;
}

.main-solution-content-title {
   display: flex;
   flex-flow: column;
   align-content: flex-start;
   margin-bottom: 64px;
}

.main-solution-content-maintitle{
   color:var(--dark-blue);
   font-size: 32px;
   font-weight: bold;
   margin-bottom: 40px;
}

.main-solution-content-cards {
   display: flex;
   flex-flow: row nowrap;
   column-gap: 25px;
   justify-content: space-between;
   align-content: center;
}

.overlay{
   display: flex;
   flex-flow: column nowrap;
   justify-content:flex-end ;
   width: 100%;
   height: 100%; 
   padding: 20px;
   background: linear-gradient(rgba(0,0,0,.6) 0%, rgba(0,0,0,.6) 50%, var( --dark-blue) 50%, var( --dark-blue) 100%);
   background-size: 100% 200%;
   animation: background-hover-out .7s ease forwards;
   animation-iteration-count: 1;
   background-position:0% 0%;
}

@keyframes background-hover-in { 
   to{
      background-position:0% 50%;
   }
}

@keyframes background-hover-out { 
   from{
      background-position:0% 50%;
   }
   to {
      background-position:0% 0%;
   }
}

.overlay:hover{
   animation: background-hover-in .5s ease forwards;
   animation-iteration-count: 1;
}

.main-solution-content-cards-left{
   width: 540px;
   height: 480px;
   background-image: url("../img/blog-itau-empresas.webp");
}

.main-solution-content-cards-right{
   width: 50%;
   height: 100%;
}

.mosaic-photo{
   position: relative;
   display: flex;
   flex-flow: column nowrap;
   align-content: space-around;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}

.mosaic-icon{
   width: 50px;
   height: 50px;
}

.mosaic-title{
   font-size: 32px;
   line-height: 44px;
   font-weight: 700;
   color: white;
}

.mosaic-subtitle {
   font-size: 24px;
   font-weight: 700;
   color: white;
}

.mosaic-content {
   width: 100%;
   height: 100%;
}

.main-solution-content-cards-right{
   display: flex;
   flex-flow: column nowrap;
   row-gap: 25px;
   width: 50%;
   height: auto;
}

.main-solution-content-cards-right-top {
   width: 100%;
   height: 50%;
}

.main-solution-content-cards-right-bottom {
   display: flex;
   flex-flow: row nowrap;
   width: 100%;
   height: 50%;
   column-gap: 25px;
}

.main-solution-content-cards-right-bottom-mosaicbox {
   width: 50%;
   height: 100%;
}

.half-hover-solution {
   background: linear-gradient(rgba(0,0,0,.6) 0%, rgba(0,0,0,.6) 33.3333%, var( --dark-blue) 33.3333%, var( --dark-blue) 100%);
   background-size: 100% 300%;
}

.main-solution-content-cards-right-top {
   background-image: url(../img/abrir-conta-mei.webp);
}

.mosaic1 {
   background-image: url(../img/podcast-itau.webp);
}

.mosaic2 {
   background-image: url(../img/mulher-empreendedora.webp);
}

/* Disclaimer 2 */